body {
    background-color: #472003;
    color:#eff5f3;
    font-family: "Bebas Neue", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button{
    background-color: #2f6c2f;
    color: white;
    font-family: "Bebas Neue", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 150%;
}

img {
    max-Width: 50%;
}